.chatWrapper {}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  .text {
    width: 30rem;
    height: 6rem;
    border-radius: 4rem;
    display: flex;
    align-items:center;
    padding: 1rem;
  }
}

.message[data-send=for] {
  .user {
    margin-right: 1rem;
  }
  .text {
    background: #95f273;
  }
}
.message[data-send=from] {
  flex-direction: row-reverse;
  .user {
    margin-left: 1rem;
  }
  .text {
    background: #f2f2f2;
    justify-content: flex-end;
  }
}
.user {
  img {
    width: 40px;
    height: 40px;
  }
}