.header {
  grid-area: header;
  display: flex;
  background-color: #3f4257;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  top:0;
  z-index:998;
  justify-content: space-between;
}

.loginBlock {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.headerWrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  margin-right: 1rem;
}