.userlist {}
.user {
  display: flex;
  margin-bottom: 2rem;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.btn .unfollow {
  background-color: #d80000;
  color: #fff;
  width: 100px;
  cursor: pointer;
  transition: all .4s;
}
.btn .unfollow:hover {
  background-color: #ff0000;
  transition: all .4s;
}
.btn .follow[disabled] {
  background: #000;
}
.btn .follow {
  background-color: #008800;
  color: #fff;
  width: 100px;
  cursor: pointer;
  transition: all .4s;
}
.btn .follow:hover {
  background-color: #00ba00;
  transition: all .4s;
}

.info {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 50px;
  border: 3px solid #e7e7e7;
  flex: 1;
  padding: 1rem 1.5rem;
}
.name {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.location {
  display: flex;
  flex-direction: column;
  color: #000;
}



