
.content img {
  width: 100px;
  height: 100px;
  position: relative;
}
.bgContent {
  min-height: 25rem;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bgImg {
  max-height: 20rem;
}

.logo {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    img {
      width: 125px;
      height:auto;
    }
  }
}


.name {

}

.profileList {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 5rem;
  a {
    display: flex;
    align-items: center;
    &.active {
      color: #515365;
    }
  }
}

.logo img {
  border-radius: 50%;
}

.profileList div {
  display: flex;
}

.profileList div a {
  margin: 0 2rem;
}

.lookwork,
.dontlookwork {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffdc6e;
  font-size: 12px;
  padding: 10px;
}


.statusWrapper {
  position: relative;
  min-height: 25px;
}

.editStatus {
  position: absolute;
  background: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 30px;
}