
.selectedPage {
  background: white;
  color: black;
  cursor: default;
}
.pagination {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 2rem;
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    display: block;
    width: 10px;
    height:10px;
    color: #000;
  }
  &::-webkit-scrollbar {
    display: block;
    color: #000;
  }
}
.item {
  margin: 0 .5rem;
  border-radius: 50%;
  border: 1px solid;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}