@import "./scss/variables";

body {
  scrollwidth: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
}

.app-wrapper {
  margin: 0 auto;
  width: 100%;
  &__content {
    max-width: 65%;
    margin: 110px auto 0 auto;
    grid-area: content;
    border-radius: 6px;
    overflow: hidden;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

img {
  @include img;
}